<div
  class="container max-w-[400px] mx-auto h-full flex flex-col justify-center p-4 pt-0"
>
  <div class="text-center pt-16 pb-8">
    <div class="text-7xl mb-4">🎭</div>
    <h1
      class="text-4xl font-black bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-transparent mb-2"
    >
      Welcome To Bluffy!
    </h1>
    <p class="text-gray-600 font-medium text-lg">
      Ready to catch some bluffers?
    </p>
  </div>

  <div
    class="bg-white/70 backdrop-blur-sm rounded-3xl p-6 shadow-xl border border-white/20 w-full"
  >
    <form class="space-y-2" [formGroup]="signupForm" novalidate>
      <div class="form-group flex flex-col gap-1">
        <label class="text-xs font-medium">Name</label>
        <div
          [class.border]="name.invalid && name.touched"
          [class.border-red-500]="name.invalid && name.touched"
          class="flex items-center border border-gray-300 rounded-2xl bg-white p-3 focus-within:ring-2 focus-within:ring-gray-400/50 transition"
        >
          <i class="bi bi-envelope text-gray-500 mr-2 text-lg"></i>

          <input
            type="name"
            class="form-control"
            formControlName="name"
            class="form-control flex-grow outline-none text-[0.80rem] font-medium placeholder:text-gray-400"
            placeholder="Enter your name"
          />
        </div>
        <small
          class="text-red-500"
          [class.hidden]="name.valid || name.untouched"
          >Name is required</small
        >
      </div>
      <div class="form-group flex flex-col gap-1">
        <label class="text-xs font-medium">Email</label>
        <div
          [class.border]="email.invalid && email.touched"
          [class.border-red-500]="email.invalid && email.touched"
          class="flex items-center border border-gray-300 rounded-2xl bg-white p-3 focus-within:ring-2 focus-within:ring-gray-400/50 transition"
        >
          <i class="bi bi-envelope text-gray-500 mr-2 text-lg"></i>

          <input
            type="email"
            class="form-control"
            formControlName="email"
            class="form-control flex-grow outline-none text-[0.80rem] font-medium placeholder:text-gray-400"
            placeholder="Enter your email"
          />
        </div>
        <small
          class="text-red-500"
          [class.hidden]="email.valid || email.untouched"
          >Email is required</small
        >
      </div>

      <div class="form-group flex flex-col gap-1">
        <label class="text-xs font-medium">Password</label>
        <div
          [class.border]="password.invalid && password.touched"
          [class.border-red-500]="password.invalid && password.touched"
          class="flex items-center border border-gray-300 rounded-2xl bg-white p-3 focus-within:ring-2 focus-within:ring-gray-400/50 transition"
        >
          <i class="bi bi-lock text-gray-500 mr-2 text-lg"></i>

          <input
            formControlName="password"
            [type]="isHidden ? 'password' : 'text'"
            class="form-control flex-grow outline-none text-[0.80rem] font-medium placeholder:text-gray-400"
            placeholder="Enter your password"
          />
          <i
            [class.bi-eye-fill]="isHidden"
            [class.bi-eye-slash-fill]="!isHidden"
            class="bi text-gray-500 text-lg"
            (click)="isHidden = !isHidden"
          ></i>
        </div>
        <div *ngIf="password.invalid && password.touched">
          <small class="text-red-500" *ngIf="password.errors?.['required']"
            >Password is required</small
          >
          <small class="text-red-500" *ngIf="password.errors?.['minlength']"
            >Password must be at least 3 characters</small
          >
        </div>
      </div>

      <div class="form-group flex flex-col gap-1">
        <label class="text-xs font-medium">Confirm Password</label>
        <div
          [class.border]="
            signupForm.hasError('misMatch') && confirmPassword.touched
          "
          [class.border-red-500]="
            signupForm.hasError('misMatch') && confirmPassword.touched
          "
          class="flex items-center border border-gray-300 rounded-2xl bg-white p-3 focus-within:ring-2 focus-within:ring-gray-400/50 transition"
        >
          <i class="bi bi-lock text-gray-500 mr-2 text-lg"></i>

          <input
            formControlName="confirmPassword"
            [type]="isHidden ? 'password' : 'text'"
            class="form-control flex-grow outline-none text-[0.80rem] font-medium placeholder:text-gray-400"
            placeholder="Confirm your password"
          />
        </div>
        <small
          class="text-red-500"
          [class.hidden]="!signupForm.hasError('misMatch')"
          >Passwords do not match</small
        >
      </div>
    </form>
  </div>

  <p class="text-gray-600 text-center font-medium my-3">
    Already have an account?
    <a
      routerLink="/signin"
      class="font-bold text-purple-600 hover:text-purple-700 underline decoration-2 underline-offset-2"
    >
      Sign in here!
    </a>
  </p>

  <div>
    <button
      (click)="onSubmit()"
      class="block w-full p-4 text-xl font-bold bg-gradient-to-r from-purple-500 to-pink-500 text-white rounded-2xl"
    >
      Sign up
    </button>
  </div>
</div>
