<nav class="w-full bg-white rounded-2xl p-2">
  <ul class="decoration-0 flex">
    <li class="flex-1">
      <a
        [routerLink]="['/home']"
        routerLinkActive="text-white bg-gradient-to-r from-purple-500 to-pink-500"
        class="block text-gray-600 w-full h-full rounded-lg text-center text-xs font-semibold p-2"
        >Home</a
      >
    </li>
    <li class="flex-1">
      <a
        [routerLink]="['/lobby']"
        routerLinkActive="text-white bg-gradient-to-r from-purple-500 to-pink-500"
        class="block text-gray-600 w-full h-full rounded-lg text-center text-xs font-semibold p-2"
        >Lobby</a
      >
    </li>
  </ul>
</nav>
